:root {
  --fonte-pokemon: "PKMN RBYGSC Regular";
}

.busca {
  
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 8px;
  font-size: 10px;
  font-family: var(--fonte-pokemon);
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 270px;
}

button {
  font-family: var(--fonte-pokemon);
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #ff1c1c;
  color: white;
  cursor: pointer;
}
